@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&family=Playfair+Display+SC:wght@700&family=Raleway&display=swap');


*{
  font-family: Raleway;
  font-weight: 300;
}

body{
  background-color: lightgray;
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.App {
  background-color: white;
  display: flex;
  justify-content: center;
  margin-top: 7rem;
  height: 30rem;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 1%;
  width: 100%;
}

.App::-webkit-scrollbar {
  display: none;
}

ul{
  list-style: none;
}

.studentInfo-container {
  background-color: white;
  border-radius: 1%;
  border-bottom: .1rem solid lightgray;
  width: 40rem;
  position: sticky;
  margin-top: 2rem;
}

.studentInfo {
  background-color: white;
  margin-top: .5rem;
  margin-bottom: 0rem;
  margin-left: 1.5rem;
}

.studentName {
  font-weight: 900;
  background-color: white;
  display: inline;
  margin-right: .2rem;
  margin-left: .2rem;
  text-transform: uppercase;
} 

.info-container {
  background-color: white;
  display: inline-block;
  position: absolute;
  margin-bottom: .5rem;
}

.student-search {
  position: relative;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 41rem;
  height: 2rem;
  background-color: transparent;
  outline: none;
}

.image-container {
  background-color: white;
  display: inline-block;
  position: relative;
  text-align: center;
  height: 200px;
  width: 200px;
  margin-top: 2rem;
}

.image {
  background-color: white;
  border: 1px solid gray;
  border-radius: 50%;
  height: 170px;
  image-rendering:optimizeQuality;
}
